<h1>ToDo</h1>
<%= form_with model: @list, url: '/lists', local:true do |f| %>
    <h4>title</h4>
    <p><%= f.text_field :title %></p>
    <h4>Doing</h4>
    <p><%= f.text_area :body %></p>
    <p><%= f.submit 'submit' %></p>
<% end %>


    

